In [3]:
print('ava is the coolest')

ava is the coolest

In [9]:

for x in range(10):
  print(" ava is so exra cool that she knows how to computer program now.")

 ava is so exra cool that she knows how to computer program now.
 ava is so exra cool that she knows how to computer program now.
 ava is so exra cool that she knows how to computer program now.
 ava is so exra cool that she knows how to computer program now.
 ava is so exra cool that she knows how to computer program now.
 ava is so exra cool that she knows how to computer program now.
 ava is so exra cool that she knows how to computer program now.
 ava is so exra cool that she knows how to computer program now.
 ava is so exra cool that she knows how to computer program now.
 ava is so exra cool that she knows how to computer program now.

In [1]:
for x in range(4):
  print(x)
for x in range(3):
  print('emma')

0
1
2
3
emma
emma
emma

In [28]:
for x in range(3):
  print('emma')
print('dad')
print(x)

emma
emma
emma
dad
2

In [29]:
for x in range(3):
  print('emma')
  print('ava')

emma
ava
emma
ava
emma
ava

# Learning If Statements

In [3]:
x = 6
y = 'Dad'


if x == 5:
    print('x is equal to 5')
    y = 'Mom'
    y = 'ava'

    
    
    
print(y)

Dad

In [ ]:
for x in range (10):
    for y in range(10)