# Exploring Hackers News Posts

In this project, we'll compare two different types of posts from Hacker News, a popular site where technology related stories (or 'posts') are voted and commented upon. The two types of posts we'll explore begin with either Ask HN or Show HN.

Users submit Ask HN posts to ask the Hacker News community a specific question, such as "What is the best online course you've ever taken?" Likewise, users submit Show HN posts to show the Hacker News community a project, product, or just generally something interesting.

We'll specifically compare these two types of posts to determine the following:

* Do Ask HN or Show HN receive more comments on average?
* Do posts created at a certain time receive more comments on average?

It should be noted that the data set we're working with was reduced from almost 300,000 rows to approximately 20,000 rows by removing all submissions that did not receive any comments, and then randomly sampling from the remaining submissions.

# Solution
    
[https://github.com/dataquestio/solutions/blob/master/Mission356Solutions.ipynb](https://github.com/dataquestio/solutions/blob/master/Mission356Solutions.ipynb)

In [13]:
Solution:
    
(https://github.com/dataquestio/solutions/blob/master/Mission356Solutions.ipynb)[https://github.com/dataquestio/solutions/blob/master/Mission356Solutions.ipynb]

import pandas
# id: the unique identifier from Hacker News for the post
# title: the title of the post
# url: the URL that the posts links to, if the post has a URL
# num_points: the number of points the post acquired, calculated as the total number of upvotes minus the total number of downvotes
# num_comments: the number of comments on the post
# author: the username of the person who submitted the post
# created_at: the date and time of the post's submission

ids = ["id","title","url","num_points","num_comments","author","created_at"]
headers = dict([(id, ids.index(id)) for id in ids])
print(headers)

{'id': 0, 'title': 1, 'url': 2, 'num_points': 3, 'num_comments': 4, 'author': 5, 'created_at': 6}

We'll compare these two types of posts to determine the following:

Do Ask HN or Show HN receive more comments on average?
Do posts created at a certain time receive more comments on average?
Let's start by importing the libraries we need and reading the dataset into a list of lists.

# Introduction

Lets:
* Read the data
* Remove the headers
* Print header and first three rows
* Convert do dataframe

In [77]:
# Read in the data.
import csv
import pandas as pd

f = open('hacker_news.csv')
hn = list(csv.reader(f))
hn[:3]

df = pd.read_csv('hacker_news.csv')
display(df.iloc[:3])

len(df.index)

# headers = hn[0]
# hn = hn[1:]

# print(headers)
# print(hn[:3])

# df = pd.DataFrame(hn)

,id,title,url,num_points,num_comments,author,created_at
0,12224879,Interactive Dynamic Video,http://www.interactivedynamicvideo.com/,386,52,ne0phyte,8/4/2016 11:52
1,10975351,How to Use Open Source and Shut the Fuck Up at...,http://hueniverse.com/2016/01/26/how-to-use-op...,39,10,josep2,1/26/2016 19:30
2,11964716,Florida DJs May Face Felony for April Fools' W...,http://www.thewire.com/entertainment/2013/04/f...,2,1,vezycash,6/23/2016 22:20

20100

In [79]:
# Identify posts that begin with either `Ask HN` or `Show HN` and separate the data into different lists.
ask_posts = []
show_posts =[]
other_posts = []

for post in hn:
    title = post[1]
    if title.lower().startswith("ask hn"):
        ask_posts.append(post)
    elif title.lower().startswith("show hn"):
        show_posts.append(post)
    else:
        other_posts.append(post)
        
print(len(ask_posts))
print(len(show_posts))
print(len(other_posts))

1744
1162
17195

# Extracting Ask HN and Show HN Posts
First, we'll identify posts that begin with either Ask HN or Show HN and separate the data for those two types of posts into different lists. Separating the data makes it easier to analyze in the following steps.

In [80]:
import re

# https://www.geeksforgeeks.org/python-pandas-series-str-startswith/
# very confusing. lower and startswith here are a dataframe operation that is the
# same name as the regular python functions.  we need to prepend str to each
# one to ensure the dataframe operation gets applie, not the string function

ask_posts =  df[df['title'].str.lower().str.startswith('ask hn')]
show_posts =  df[df['title'].str.lower().str.startswith('show hn')]
other_posts  =  df[~df['title'].str.lower().str.startswith('ask hn') & ~df['title'].str.lower().str.startswith('show hn')]

print(len(ask_posts.index))
print(len(show_posts.index))
print(len(other_posts.index))

1744
1162
17194

# Calculating the Average Number of Comments for Ask HN and Show HN Posts
Now that we separated ask posts and show posts into different lists, we'll calculate the average number of comments each type of post receives.

In [81]:
# Calculate the average number of comments `Ask HN` posts receive.
total_ask_comments = ask_posts['num_comments'].sum()
avg_ask_comments = total_ask_comments / len(ask_posts.index)
print(avg_ask_comments)

# Calculate the average number of comments `Show HN` posts receive.
total_show_comments = show_posts['num_comments'].sum()
avg_show_comments = total_show_comments / len(show_posts.index)
print(avg_show_comments)

14.038417431192661
10.31669535283993

On average, ask posts in our sample receive approximately 14 comments, whereas show posts receive approximately 10. Since ask posts are more likely to receive comments, we'll focus our remaining analysis just on these posts.

# Finding
* the Amount of Ask Posts
* Comments by Hour Created
* Calculating the Average Number of Comments for Ask HN Posts by Hour

Next, we'll determine if we can maximize the amount of comments an ask post receives by creating it at a certain time. First, we'll find the amount of ask posts created during each hour of day, along with the number of comments those posts received. Then, we'll calculate the average amount of comments ask posts created at each hour of the day receive.

In [225]:
# Calculate the amount of ask posts created during each
# hour of day and the number of comments received.
import datetime as dt
import numpy as np


# https://stackoverflow.com/questions/26886653/pandas-create-new-column-based-on-values-from-other-columns-apply-a-function-o
# Note the axis=1 specifier, that means that the application is done at a 
# row, rather than a column level. The results are here:
date_format = "%m/%d/%Y %H:%M"

# apply it to the ask_posts df
ask_posts = ask_posts.assign(created_hour=lambda row : pd.to_datetime(row['created_at'], format=date_format).dt.hour)
#display(ask_posts)

# comments_by_hour = ask_posts.groupby('created_hour')['num_comments'].sum()
comments_by_hour = ask_posts.groupby('created_hour').agg({'num_comments': ['sum', 'count','mean']}, group_keys=False)
print(type(comments_by_hour))

comments_by_hour = comments_by_hour.sort_values([('num_comments','mean')],ascending=False)
# display(comments_by_hour)

print("Top 5 Hours for 'Ask HN' Comments")
for index, row in comments_by_hour.head(5).iterrows():
#     print(index)
#     dt.datetime.strptime(str(index), "%H")
#     print(row[('created_hour','mean')])
    print("{}: {:.2f} average comments per post".format(dt.datetime.strptime(str(index), "%H").strftime("%H:%M"),row[('num_comments','mean')]))

<class 'pandas.core.frame.DataFrame'>
Top 5 Hours for 'Ask HN' Comments
15:00: 38.59 average comments per post
02:00: 23.81 average comments per post
20:00: 21.52 average comments per post
16:00: 16.80 average comments per post
21:00: 16.01 average comments per post

The hour that receives the most comments per post on average is 15:00, with an average of 38.59 comments per post. There's about a 60% increase in the number of comments between the hours with the highest and second highest average number of comments.

According to the data set documentation, the timezone used is Eastern Time in the US. So, we could also write 15:00 as 3:00 pm est.